[submodule "externals/peanuts"]
	path = externals/peanuts
	url = https://github.com/tsukuba-hpcs/peanuts.git
  update = merge
[submodule "externals/spack-packages"]
	path = externals/spack-packages
	url = https://github.com/tsukuba-hpcs/spack-packages.git
  update = merge
[submodule "externals/ompi-peanuts"]
	path = externals/ompi-peanuts
	url = https://github.com/tsukuba-hpcs/ompi-peanuts.git
  update = merge
[submodule "externals/spack"]
	path = externals/spack
	url = https://github.com/spack/spack.git
